@import 'tailwindcss';
@import 'tw-animate-css';

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
}

:root {
  --background: #fafafa;
  --foreground: #1e1e1e;

  --card: #fafafa;
  --card-foreground: #1e1e1e;

  --primary: #557fd2;
  --primary-foreground: #fafafa;

  --destructive: #ef4444;
  --destructive-foreground: #fafafa;

  --accent: #64748b;
  --accent-foreground: #fafafa;

  --muted: #484848;
  --muted-foreground: #64748b;

  --border: #94a3b8;
  --input: #94a3b8;
  --ring: #020817;

  --radius: 0.5rem;
}

.dark {
  --background: #1e1e1e;
  --foreground: #fafafa;

  --card: #1e1e1e;
  --card-foreground: #fafafa;

  --primary: #557fd2;
  --primary-foreground: #fafafa;

  --destructive: #f47174;
  --destructive-foreground: #020817;

  --accent: #1e293b;
  --accent-foreground: #fafafa;

  --muted: #1e293b;
  --muted-foreground: #94a3b8;

  --border: #334155;
  --input: #334155;
  --ring: #fafafa;
}

@custom-variant dark (&:is(.dark *));

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
